# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules

# production
frontend/build

# Python
__pycache__/
*.py[cod]
*$py.class

# Caches
backend/exoplanet.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/